version: "3.9"

services:
  app:
    container_name: app-laravel
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "9000"
    volumes:
      - ./:/var/www/html
    depends_on:
      - postgres
    networks:
      - app-network
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: "pgsql"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_DATABASE: "postgres"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"


  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./public/nginx.conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  swagger:
    image: swaggerapi/swagger-editor
    container_name: swagger-editor
    ports:
      - "8081:8080"
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
